# Regression

## Plan
**Wie sollten wir unser Budget auf unsere Marketingkanäle verteilen?**

Die Marketingabteilung möchte wissen, welche Marketingaktivitäten den Umsatz des Unternehmens am meisten steigert.

![](../bmc_recommender.pdf)

## Data
Die Basis der Regressionsanalyse bildet ein Datensatz, in dem alle vergangenen Kampagnen eingetragen sind. Für jede Kampagne gibt es die Information, wie viel Geld für verschiedene Kanäle ausgegeben wurde und wie hoch die generierten Umsätze waren. Der originale Datensatz stammt von [kaggle](https://www.kaggle.com/harrimansaragih/dummy-advertising-and-sales-data).

Da es sich bei dem Datensatz um einen Trainingsdatensatz kümmert, besteht er lediglich aus wenigen Variablen *(TV, Print, Social Media und Influencer)*. Zudem bestand zwischen der Variable TV und unserer Zielvariable Sales eine 1:1 Korrelation, welche in der Realität unwahrscheinlich ist. Da die Umsetzung der Use Cases jedoch nur exemplarisch durchgeführt werden sollte und es keinen anderen passenden Datensatz zum Thema gab, entschied ich mich bei diesem zu bleiben und die Spalte *TV* aus der Modellierung auszuschließen. 

Der vollständigen Code befindet sich [hier](Regression_Marketing.ipynb).

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Regression_marketing_data.csv', delimiter=',', encoding = 'unicode_escape')
df.head()

     TV      Print    Social Influencer       Sales
0  16.0   6.566231  2.907983       Mega   54.732757
1  13.0   9.237765  2.409567       Mega   46.677897
2  41.0  15.886446  2.913410       Mega  150.177829
3  43.0  30.020028  6.922304       Mega  298.246340
4  15.0   8.437408  1.405998      Micro   56.594181

In [3]:
df.describe()

                TV        Print       Social        Sales
count  4545.000000  4568.000000  4566.000000  4566.000000
mean     53.874587    18.160356     3.323956   192.466602
std      26.116303     9.676958     2.212670    93.133092
min       1.000000     0.000684     0.000031    31.199409
25%      32.000000    10.525957     1.527849   112.322882
50%      53.000000    17.859513     3.055565   189.231172
75%      76.000000    25.649730     4.807558   272.507922
max     100.000000    48.871161    13.981662   364.079751

## Model
Nach dem Data-Splitting, führte ich zunächst eine explorativen Datenanalyse durch. Zudem habe ich eine weitere Variable *Total Sum* eingefügt, die die Gesamtausgaben pro Kampagne angab. Die Plots zeigten eine positive, lineare Korrelation zwischen den Featuren und unserer Zielvariablen. 

Anschließend erstellte ich eine Pipeline, die verschiedene Pre-Processing Schritte mit der Modellierung verband. Aufgrund der linearen Korrelation entschied ich mich zunächst für ein simples lineares Regressionsmodel mit dem Feature *Total Sum*. Dieses gab jedoch keinen Aufschluss darüber, wie das Budget auf verschiedene Marketingkanäle verteilt werden sollte. Deswegen entschied ich mich trotz des bereits guten Scores für ein weiteres multiples Regressionsmodel basierend auf den anderen Featuren. 

Da die Plots eine lineare Korrelation der

## Evaluation